
*
{
    box-sizing: border-box;
    margin-top: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-transform: capitalize;
}.ce{
    font-family: Lexend Deca;
    font-size: 200%;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: rgba(255, 121, 84, 1);


    
}

.pa{
font-family: Poppins;
font-size: 100%;
font-weight: 600;
line-height: 22.4px;
letter-spacing: 0.16em;
text-align: center;
color: rgba(235, 87, 87, 1);
margin-top: 3%;
margin-bottom: 1%;

}